<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
</head>
<body>
    <h1>Welcome {{ username }} to pay for vip service!</h1>
    <form action = "{{ url_for('transfer', username = username) }}">
        <p>Choose payment method:</p>
        <select name="method" id="method">
            <option value="Transfer">Transfer</option>
            <option value="PayPal">PayPal</option>
            <option value="WeChat">WeChat</option>
            <option value="Alipay">Alipay</option>
            <option value="Credit card">Credit card</option>
        </select>
        <br><br>
        <button type="submit">Next step</button>
    </form>
</body>
</html>