<!DOCTYPE html>
<html>
<head>
    <title>Browse Bank Account</title>
</head>
<body>
    <h1>Welcome {{ username }} to check bank accounts!</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Account No</th>
                    <th>Balance</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for bankaccount in bankaccounts %}
                <tr>
                    <td>{{ bankaccount.account_number }}</td>
                    <td>{{ bankaccount.balance }}￥</td>
                    <td>{{ bankaccount.password }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <a href="{{ url_for('datauser_bp.vipservice', username=username) }}">Back to VIP Service</a>
</body>
</html>