<!DOCTYPE html>
<html>
<head>
    <title>Browse Thesis</title>
</head>
<body>
    <h1>Welcome {{ username }} to check thesis!</h1>
    <h2>VIP operations:</h2>
    <a href="{{ url_for('datauser_bp.searchthesis', username=username) }}">Search for thesis (for unknown title)</a><br>
    <a href="{{ url_for('datauser_bp.downloadthesis', username=username) }}">Download thesis (for known title)</a><br>
        <table border="1">
            <thead>
                <tr>
                    <th>Thesis No.</th>
                    <th>Author</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                {% for t in thesis %}
                <tr>
                    <td>{{ t.id }}</td>
                    <td>{{ t.author }}</td>
                    <td>{{ t.title }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <a href="{{ url_for('datauser_bp.vipservice', username=username) }}">Back to VIP Service</a>
</body>
</html>
