<!DOCTYPE html>
<html>
<head>
    <title>Browse Policies</title>
</head>
<body>
    <h1>Welcome {{ username }} to check policies!</h1>
    <ul>
        {% for policy in policies %}
        <li>
            <h2>{{ policy.title }}</h2> <!-- Access the 'title' field -->
            <p>{{ policy.content }}</p> <!-- Access the 'content' field -->
        </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('user_bp.datauser', username=username) }}">Back to Home</a>
</body>
</html>