<!DOCTYPE html>
<html>
<head>
    <title>E_admin</title>
</head>
<body>
    <h1>Welcome {{ username }} to E_admin User Interface!</h1><br>

    <a href="{{ url_for('user_bp.applicationreview', username = username) }}">Review Application</a><br>

    <a href="{{ url_for('user_bp.manage_policy', username = username) }}">Manage Policies</a><br>

    <a href="{{ url_for('user_bp.view_logs', username = username) }}">Check log information</a><br>
    
    <p><a href="{{ url_for('user_bp.index') }}">Sign out</a></p>
    
</body>
</html>