<!DOCTYPE html>
<html>
<head>
    <title>O_convener</title>
</head>
<body>
    <h1>Welcome {{ username }} to O_convener User Interface!</h1>

    <a href="{{ url_for('user_bp.upload_members_page', username=username) }}">Upload Members via Excel</a><br>

    <a href="{{ url_for('user_bp.manage_members', username=username) }}">Manage Users</a><br>

    <a href="{{ url_for('user_bp.banking_info', username=username) }}">Manage Banking Info</a><br>

    <a href="{{ url_for('user_bp.o_convener_logs', username=username) }}">View Organization Activity Logs</a><br>

    <a href="{{ url_for('user_bp.manage_workspace', username=username) }}">Manage organization workspace</a><br>

    <p><a href="{{ url_for('user_bp.index') }}">Sign out</a></p>
</body>
</html>